@media screen and (max-width: 800px) {
  .body-div-two {
    padding-bottom: 150px;
  }
}

.body-div-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 40px;
  height: 130px; */
  height: 50%;
  /* background-color: yellow; */
}
