.footer-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    /* min-height: 400px; */
    padding-left: 40px;
    /* background-color: blueviolet; */
}

.json-inspector__search {
    border-radius: 10px;
}
