@import url(
    http://fonts.googleapis.com/css?family=Roboto:400,
    100,
    100italic,
    300,
    300ita‌​lic,
    400italic,
    500,
    500italic,
    700,
    700italic,
    900italic,
    900
);

body {
    margin: 0;
    padding: 0;
    /* font-family: sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
body,
p {
    font-family: "Roboto", Century Gothic;
}
